{% load static %}
<head>
  <script src="{% static "main/js/jquery-1.9.1.min.js" %}"></script>
  <script src="{% static "main/js/html2canvas.js" %}"></script>
</head>

<style type="text/css">
  .tg  {border-collapse:collapse;border-spacing:0;}
  .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-nrix{text-align:center;vertical-align:middle}
  </style>
<style>
  #sig-canvas {
  border: 2px dotted #CCCCCC;
  border-radius: 15px;
  cursor: crosshair;
}


</style>
 <body>
  <div id="mainContainer">
    <h1 style="text-align: center">面试评分表</h1>
  
    
   <div style="text-align: right;">
    <form method="POST" action="saveForm" id="mainForm" >
      {% csrf_token %}
      <input value={{current_form.id}} name="singlescoreform_id" id="singlescoreform_id" hidden />
      <div>
        <label for="draw_id">考生抽签号</label>
        <select name="draw_id" id="draw_id">
          {% for item in finished_forms %}
          <option value="{{item.interviewer.id}}">{{item.interviewer.draw_id}}</option>   
          {% endfor %}
          <option value="{{current_form.interviewer.id}}" selected>{{current_form.interviewer.draw_id}}</option>   
        </select>
      </div>
      
    
      <table class="tg" id="mainTable">
      <thead>
        <tr>
          <th class="tg-nrix" colspan="2">测评要素</th>
          {% for item in scoring_items %}
            <th class="tg-nrix">{{item.name}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="tg-nrix" colspan="2">分值</td>
          {% for item in scoring_items %}
          <td class="tg-nrix">{{item.maximum_score}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td class="tg-nrix" rowspan="3">评分标准</td>
          <td class="tg-nrix">优</td>
          {% for item in scoring_items %}
          <td class="tg-nrix">{{item.good}}</td>
          {% endfor %}
          
        </tr>
        <tr>
          <td class="tg-nrix">中等</td>
          {% for item in scoring_items %}
          <td class="tg-nrix">{{item.ok}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td class="tg-nrix">一般</td>
          {% for item in scoring_items %}
          <td class="tg-nrix">{{item.normal}}</td>
          {% endfor %}
        </tr>
        <tr>
          <td class="tg-nrix" colspan="2">要素得分</td>
            {% for item in scoring_items %}
            <td class="tg-nrix scoring_item" maximum_score="{{item.maximum_score}}">
            </td>
            {% endfor %}
        </tr>
        <tr>
          <td class="tg-nrix" colspan="2" rowspan="2">考官评语</td>
          <td class="tg-nrix" colspan="{{colspan}}" rowspan="2" id="comment_cell">
            <textarea name="comment" id="comment" ></textarea>
          </td>
          <td class="tg-nrix">总分</td>
          <td class="tg-nrix">
            <input type="number" id="total_score" readonly style="border:none;text-align:center">
          </td>
        </tr>
        <tr>
          <td class="tg-nrix">
            <input value={{examiner.id}} name="examiner_pk" id="examiner_pk" hidden/>
            {{examiner.examiner_id}} 号考官签名</td>
          <td class="tg-nrix">
            
              <!-- Content -->
      <div class="container">
             <canvas id="sig-canvas">
             </canvas>
      </div>
    
            
          </td>
        </tr>
      </tbody>
      </table>

      <div style="text-align: left;">
        要求：
        <br>
        1. 总分在90分以上或50分以下者，应在“考官评语”栏记录该考生答题的突出表现或较差表现。
        <br>
        2. 如考生有体貌不端，口吃等情况，亦请在“考官评语”栏中如实记载。
      </div>

      <div style="text-align: right;" id="formDate">
          
      </div>
      <input name="sig_url" id="sig_url" hidden />
      <input name="current_dt" id="current_dt" hidden/>
      <input name="screenshot_url" id="screenshot_url" hidden />
    </form>

    

    <div style="text-align: right;" id="button-group">
      <button class="btn btn-default" id="sig-clearBtn">清除签名</button>
      <button class="btn btn-primary" id="sig-submitBtn">提交表格</button>
    </div>
   </div>
  </div>

</body> 



<script> 

  // var current_form = JSON.parse("{{current_form_json|escapejs}}"); 

  var finished_forms = JSON.parse("{{finished_forms_json|escapejs}}"); 
  

  $("#draw_id").on("change", function(){
    var interviewer_id = $(this).val();

    for (let item of finished_forms){
      if (item["interviewer"] == interviewer_id){
        LoadFinishedForm(item);
        return
      }
    }

    document.location.href="/"; // redirect back to home
  })

  function LoadFinishedForm(singlescoreform){
    // update score 
    var score_list = singlescoreform["score"].split(",").map(x=>+x);
    var scoring_items = document.getElementsByClassName("scoring_item");
    for (var i = 0; i < scoring_items.length; ++i){
      scoring_items[i].innerHTML = score_list[i];
    }

    // calculate total score
    var scoreNew = score_list.reduce((a, b) => a + b, 0);
    document.getElementById("total_score").value = scoreNew;


    // update comment 
    document.getElementById("comment").innerHTML = singlescoreform["comment"];
    document.getElementById("comment").readOnly = true;

    var buttongroup = document.getElementById("button-group");
    if(typeof(buttongroup) != 'undefined' && buttongroup != null){
      buttongroup.remove();
    }
    

    // TODO: update signature
  }
</script>



<script>
  // submit form 
  var submitBtn = document.getElementById("sig-submitBtn");
  var canvas = document.getElementById("sig-canvas");

  submitBtn.addEventListener("click", function(e) {
    if(!confirm("确认提交?")){
      return
    }
    var sigUrl = canvas.toDataURL();
    document.getElementById("sig_url").value = sigUrl;

    // html2canvas(document.getElementById("mainContainer")).then(function(canvas) {
    //   document.body.appendChild(canvas);
    //   var scrshotUrl = canvas.toDataURL();
    //   document.getElementById("screenshot_url").value = scrshotUrl;
    // });
    html2canvas(document.body).then(function(canvas) {
    document.body.appendChild(canvas);
    });
    var now = new Date();
    var dateString = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate()
    // alert(dateString);
    document.getElementById("current_dt").value =  dateString;
    // alert(document.getElementById("current_dt").value)

    // alert(dataUrl);  
    $("#mainForm").submit();
    
  }, false);
</script>



 

<script>
  function calTotalScore() {
    var scoreNew = 0
    var scoring_items = document.getElementsByClassName("scoring_item");
    for (var i = 0; i < scoring_items.length; i++) {
      var select_elem = scoring_items[i].getElementsByTagName("select").item(0);
      // console.log(select_elem.value);
      scoreNew += Number(select_elem.value)
    }
    document.getElementById("total_score").value = scoreNew;
}
</script>

<script>
  function setTableStyle() {
    
    var tableWidth = document.getElementById("mainTable").offsetWidth
    document.getElementById("mainContainer").style.width = tableWidth;

    var comment_cell_width = document.getElementById("comment_cell").offsetWidth
    var comment_cell_height = document.getElementById("comment_cell").offsetHeight

    document.getElementById("comment").style.width = comment_cell_width;
    document.getElementById("comment").style.height = comment_cell_height;
    
}
</script>

<script>
  function setScoringOptions() {
    var scoring_items = document.getElementsByClassName("scoring_item");
    for (var i = 0; i < scoring_items.length; i++) {
      var select_elem = document.createElement("select");
      select_elem.setAttribute("name", "selected-score-"+i);
      // select_elem.setAttribute("id", "selected-score-"+i);
      var maximum_score = scoring_items[i].getAttribute("maximum_score");
      for (let option = 1; option <= Number(maximum_score); option++){
        var option_elem = document.createElement("option");
        option_elem.setAttribute("value", option);
        option_elem.innerText = option;
        select_elem.appendChild(option_elem);
        select_elem.selectedIndex = 0;
      }
      scoring_items[i].appendChild(select_elem);
    }
  }

</script>

<script>

  function setCurrentDate(){
    var now = new Date();
    var dateString = now.getFullYear() + "年" + (now.getMonth() + 1) + "月" + now.getDate() + "日"
    // alert(dateString);
    document.getElementById("formDate").innerHTML =  dateString;
  }
</script>
<!-- init -->
<script>
  $( document ).ready(function() {
    setScoringOptions();
    calTotalScore();
    setTableStyle();
    setCurrentDate();
  });
</script>
<!-- init -->

<!-- select score action -->
<script>
  $('.scoring_item').on('change', function() {
    calTotalScore();
}) 
</script>
<!-- select score action -->

<!-- scroll lock -->
<script>
  // src/utils/scroll-lock.js
  const $body = document.querySelector('body');
  let scrollPosition = 0;

  scrollPosition = window.pageYOffset;
  $body.style.overflow = 'hidden';
  $body.style.position = 'fixed';
  $body.style.top = `-${scrollPosition}px`;
  $body.style.width = '100%';


    // $body.style.removeProperty('overflow');
    // $body.style.removeProperty('position');
    // $body.style.removeProperty('top');
    // $body.style.removeProperty('width');
    // window.scrollTo(0, scrollPosition);


</script>

<!-- scroll lock -->

<!-- canvas setting -->
<script>
//   document.body.addEventListener('touchmove', function(event) {
// event.preventDefault();
// }, false); 

  (function() {
window.requestAnimFrame = (function(callback) {
  return window.requestAnimationFrame ||
    window.webkitRequestAnimationFrame ||
    window.mozRequestAnimationFrame ||
    window.oRequestAnimationFrame ||
    window.msRequestAnimaitonFrame ||
    function(callback) {
      window.setTimeout(callback, 1000 / 60);
    };
})();

var canvas = document.getElementById("sig-canvas");

var ctx = canvas.getContext("2d");
ctx.strokeStyle = "#222222";
ctx.lineWidth = 4;

var drawing = false;
var mousePos = {
  x: 0,
  y: 0
};
var lastPos = mousePos;

canvas.addEventListener("mousedown", function(e) {
  drawing = true;
  lastPos = getMousePos(canvas, e);
}, false);

canvas.addEventListener("mouseup", function(e) {
  drawing = false;
}, false);

canvas.addEventListener("mousemove", function(e) {
  mousePos = getMousePos(canvas, e);
}, false);

// Add touch event support for mobile
canvas.addEventListener("touchstart", function(e) {

}, false);

canvas.addEventListener("touchmove", function(e) {
  e.preventDefault();
  var touch = e.touches[0];
  var me = new MouseEvent("mousemove", {
    clientX: touch.clientX,
    clientY: touch.clientY
  });
  canvas.dispatchEvent(me);
}, false);

canvas.addEventListener("touchstart", function(e) {
  mousePos = getTouchPos(canvas, e);
  var touch = e.touches[0];
  var me = new MouseEvent("mousedown", {
    clientX: touch.clientX,
    clientY: touch.clientY
  });
  canvas.dispatchEvent(me);
}, false);

canvas.addEventListener("touchend", function(e) {
  var me = new MouseEvent("mouseup", {});
  canvas.dispatchEvent(me);
}, false);

function getMousePos(canvasDom, mouseEvent) {
  var rect = canvasDom.getBoundingClientRect();
  return {
    x: mouseEvent.clientX - rect.left,
    y: mouseEvent.clientY - rect.top
  }
}

function getTouchPos(canvasDom, touchEvent) {
  var rect = canvasDom.getBoundingClientRect();
  return {
    x: touchEvent.touches[0].clientX - rect.left,
    y: touchEvent.touches[0].clientY - rect.top
  }
}

function renderCanvas() {
  if (drawing) {
    ctx.moveTo(lastPos.x, lastPos.y);
    ctx.lineTo(mousePos.x, mousePos.y);
    ctx.stroke();
    lastPos = mousePos;
  }
}

// Prevent scrolling when touching the canvas
document.body.addEventListener("touchstart", function(e) {
  if (e.target == canvas) {
    e.preventDefault();
  }
}, false);
document.body.addEventListener("touchend", function(e) {
  if (e.target == canvas) {
    e.preventDefault();
  }
}, false);
// document.body.addEventListener("touchmove", function(e) {
  
//   if (e.target == canvas) {
//     e.preventDefault();
//   }
// }, false);

(function drawLoop() {
  requestAnimFrame(drawLoop);
  renderCanvas();
})();

function clearCanvas() {
  canvas.width = canvas.width;
}

// Set up the UI
// var sigText = document.getElementById("sig-dataUrl");
// var sigImage = document.getElementById("sig-image");
var clearBtn = document.getElementById("sig-clearBtn");
// var submitBtn = document.getElementById("sig-submitBtn");
clearBtn.addEventListener("click", function(e) {
  clearCanvas();
  // sigText.innerHTML = "Data URL for your signature will go here!";
  // sigImage.setAttribute("src", "");
});
// submitBtn.addEventListener("click", function(e) {
//   var dataUrl = canvas.toDataURL();
//   sigText.innerHTML = dataUrl;
//   sigImage.setAttribute("src", dataUrl);
// }, false);

})();
</script>
<!-- canvas setting -->